body {
  font-family: sans-serif, arial;
}

.movie-tile {
  display: grid;
  grid-template-columns: 100px 150px 100px;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'main info sidebar'
    'footer footer footer';
  height: auto;
  width: 400px;
  border: 2px solid black;
  margin: 1px;
  list-style: none;
}

.movie-item {
  grid-area: main;
  display: grid;
  margin: 15px;
  text-transform: capitalize;
}

.movie-info {
  grid-area: info;
  overflow-wrap: break-word;
  padding: 20px;
}

#watch-toggle {
  grid-area: sidebar;
  height: 50px;
  width: auto;
  margin-top: 25%;
  margin-bottom: 25%;
}

.info-item {
  overflow-wrap: break-word;
}

.movie-title:hover {
  cursor: pointer;
}


